// Theme

$border-main: #2d2f49;
$border-alt: $border-main;

$bg-main: #1A1B29;
$bg-alt: #2C2E47;
$bg-hover: #333556;
$bg-hover-alt: #25263B;
$bg-tooltip: #1A1B29;
$bg-second: #272a3a;
$bg-third: #8F96D1;
$sway-bg: #1A1B29;

$fg-main: #C6CBF7;
$fg-unactive: #575D8A;
$content-act: #CDD4FF;

$ply-main: #25253B;
$ply-hover: #3A3B5A;
$ply-act: #5A5B87;
$msc-act: #4A4C76;

$wlogout-hover: rgba(37, 37, 68, 0.45);
$wlogout-bg: rgba(26, 27, 41, 0.6);
$wlogout-button: rgba(26, 27, 41, 0.78);
