// Theme (Gruvbox-Yellow)

$fg-main: #ebdbb2;

$border-main: #fabd2f;
$border-alt: #d79921;

$bg-main: #3c3836;
$bg-alt: #504945;
$bg-hover: #d5c4a1;
$bg-hover-alt: #665c54;
$bg-tooltip: #3c3836;
$bg-second: #504945;
$bg-third: #7c6f64;

$ply-main: #665c54;
$ply-hover: #d79921;
$ply-act: #fabd2f;
$msc-act: #b8bb26;

$wlogout-hover: rgba(60, 56, 54, 0.54);
$wlogout-bg: rgba(60, 56, 54, 0.45);
$wlogout-button: rgba(60, 56, 54, 0.78);

